<h1>Crear Nuevo Producto</h1>
<form action="" id="form">
    <ul>
        <li>
            <label for="title">Title</label>
            <input type="text" required name="title">
        </li>
        <li>
            <label for="description">Description</label>
            <input type="text" required name="description">
        </li>
        <li>
            <label for="price">Price</label>
            <input type="text" required name="price">
        </li>
        <li>
            <label for="thumbnail">Thumbnail</label>
            <input type="text" required name="thumbnail">
        </li>
        <li>
            <label for="code">Code</label>
            <input type="text" required name="code">
        </li>
        <li>
            <label for="stock">Stock</label>
            <input type="text" required name="stock">
        </li>
        <li>
            <label for="id">Id</label>
            <input type="text" required name="id">
        </li>
    </ul>
    <button id="btn_prods">Enviar</button>
</form>


<h1>Lista de Productos</h1>
<ul>
    {{#each products}}
        <li>{{this.title}} - {{this.description}} - {{this.price}} - {{this.thumbnail}}</li>
    {{/each}}
</ul>
